#column0, #column1, #column2 {
    opacity: 0.40;
}

.agenda-widget h3 {
    background-color: #00134d;
    color: white;
}

#notificatie-widget h3 {
    background-color: #00134d;
    color: white;
}

.msg-widget .no-data {
    background-color: #00134d;
    color: white;
}

h3.ng-scope {
    background-color: #00134d;
    color: white;
}
h1 {
    color: #002080;
}

.menu-footer {
    background-color: #001a66;
}

.main{
    background-image: url("https://i.pinimg.com/originals/f1/6f/ed/f16fedc86686146624897737cf4338d8.jpg")
}

:root {
    --chrome-background: #fff;
    --primary-background: #002080;
    --secondary-background: #00134d;
    --background-1: transparent;
    --background-2: transparent;
    --background-3: #ccc;
    --background-4: #434343;
    --background-5: #fafafa;
    --background-6: #333;
    --background-7: #f2f2f2;
    --background-8: #ccc;
    --background-9: transparent;
    --background-10: #005c86;
    --background-11: #e1f4fd;
    --primary-text-color: #002080;
    --secondary-text-color: #00134d;
    
    
}

.container {
    padding: 0;
}

.view.ng-scope {
    padding: 0;
}
